* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #DCDCDC;
}

header {
    background: black;
}

a {
    height: 15px;
    margin: 10px;
    font-size: 25px;
    color: white;
    background: black;
    cursor: pointer;
}

section {
    display: inline-block;
    width: 500px;
    height: 300px;
    margin-top: 30px;
    font-size: 18px;
}

aside {
    display: inline-block;
}

img {
    width: 500px;
    height: 300px;
}

input {
    height: 18px;
}

.livros {
    width: 80px;
    height: 100px;
    
}

button {
    background: blue;
    border-radius: 20px;
    width: 90px;
    height: 30px;
}